@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

// Secondary colors
$green: hsl(163, 72%, 41%);
$red: hsl(356, 69%, 56%);

// Light theme
$white: hsl(0, 0%, 100%);
$pale-blue: hsl(225, 100%, 98%);
$light-grayish-blue: hsl(227, 47%, 96%);
$dark-grayish-blue: hsl(228, 12%, 44%);
$dark-blue: hsl(230, 17%, 14%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

#app {
  font-family: 'Inter', sans-serif;
  background-color: $white;
  margin-top: 32px;
  height: 100%;
  width: 87%;

  h1 {
    color: $dark-blue;
    font-size: 25px;
  }

  header {
    h4 {
      color: $dark-grayish-blue;
      margin-top: 4px;
      font-size: 0.78rem;
      opacity: 0.5;
    }
  }

  .overview-cards-row {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
  }

  .overview-card {
    border-radius: 5px;
    border-top: 4px solid transparent;
    width: 23%;
    padding: 18px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $light-grayish-blue;

    &.instagram-border {
      border-top: 4px solid;
      border-image-slice: 1;
      border-width: 4px;
      border-image-source: linear-gradient(to left, #fdc468, #df4996);
    }

    .card-top {
      display: flex;
      align-items: center;

      img {
        margin-right: 8px;
      }

      h3.card-title {
        color: $dark-grayish-blue;
        font-size: 12px;
      }
    }

    .card-body {
      h2 {
        color: $dark-blue;
        font-size: 50px;
        text-align: center;
        margin-top: 18px;
      }

      h3 {
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $dark-grayish-blue;
      }
    }

    .card-footer {
      margin-top: 18px;
      display: flex;
      align-items: center;

      img {
        margin-right: 6px;
      }

      p {
        font-size: 10px;
        font-weight: bold;
        color: $green;
      }

      p.no-profit {
        color: $red;
      }
    }
  }

  .statistics {
    margin-top: 46px;
    border: 1px solid red;

    .statistics-title {
      font-size: 20px;
      color: $dark-grayish-blue;
    }

    .stats-card-grid {
      border: 1px solid blue;
    }
  }
}
