* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
}

#app {
  -webkit-font-smoothing: antialiased;
  font-family: 'Kumbh Sans', sans-serif;
  background: #141e30;
  background: -webkit-linear-gradient(to left, #243b55, #141e30);
  background: linear-gradient(to left, #243b55, #141e30);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
