@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: url(images/bg-desktop.svg);
}

section.main {
    height: 100%;
    width: 100%;
    background-color: rgba(103, 75, 175, 0.75);
    padding: 32px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section.main .logo {
    align-self: flex-start;
}

section.main .main-content {
    display: flex;
    justify-content: space-between;
}

section.main .main-content .description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 36px;
    height: 80%;
}

section.main .main-content .description h1 {
    color: #FFF;
    font-size: 2.8rem;
}

section.main .main-content .description p {
    color: white;
}

section.main .main-content .description a {
    display: block;
    background-color: #FFF;
    color: rgb(103, 75, 175);
    width: 45%;
    padding: 22px;
    border-radius: 30px;
    text-align: center;
    font-size: 1.3rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);

    transition: filter 0.15s;
}

section.main .main-content .description a:hover {
    filter: brightness(0.92);
}

section.main .main-content .description a:active {
    filter: brightness(0.88);
}

section.main .social-media {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: flex-end;
    width: 15%;
    margin-top: -30px;
}

section.main .social-media .icon {
    color: #FFF;
    width: 25%;
    border: 2px solid white;
    padding: 12px;
    border-radius: 22px;
    font-weight: bold;
    text-align: center;
}

footer {
    background-color: rgba(103, 75, 175, 0.75);
}